{% set counter_avis = 0 %}
{% for entity in listproducts %}
  {% set counter_avis = entity.getAvis().count() + counter_avis %}
{% endfor %}   
<h4>RESULTAT DU RECHERCHE ({{ counter_avis }} avis ) </h4>
  <div>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_critere.csv') }}" targuet="_blanc">CSV produits et critères</a>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_points_forts.csv') }}" targuet="_blanc">CSV produits et points forts</a>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_points_faibles.csv') }}" targuet="_blanc">CSV produits et points faibles</a>
   </div>
   <div>
     {% if category_name!='' %}<span class="btn btn-default">{{ category_name }}</span>{% endif %}
     {% if sub_category_name!='' %}<span class="btn btn-default">{{ sub_category_name }}</span>{% endif %}
     {% if texte_nom_produit!='' %}<span class="btn btn-default">{{ texte_nom_produit }}</span>{% endif %}
   </div> 
<div class="content_result">   
<table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Noation</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in listproducts %}
               <tr>
                   <td>{{ entity.name }}</td>
                   <td><a target="_blanc" href="{{ path('my_app_affiche_avis_produit', { 'id': entity.id }) }}">{{ entity.getAvis().count() }} avis</a></td>
               </tr>
              {% endfor %}     
            </tbody>
</table>   

  
</div>        

