{% extends "::base.html.twig" %}
{% block body %}
<script type="text/javascript">
 function lancer_recherche_filtre(){
           $("#ajax_result").html('<img height="15" src="{{ asset('uploads/images/275.GIF') }}">');
           $.ajax({url: "{{  path('my_app_recherche_filtre') }}?"+$('form[name="app_homebundle_filtre_produit"]').serialize(), success: function(result){
             $("#ajax_result").html(result);
             }}); 
 };   
 $(document).ready(function() {
     $(".ajax_bt_filter_produit").click(function(){
     lancer_recherche_filtre();   
     });
 });    
</script>
{% set counter_avis = 0 %}
{% for entity in listproducts %}
  {% set counter_avis = entity.getAvis().count() + counter_avis %}
{% endfor %}   
<h4>RESULTAT DU RECHERCHE ({{ counter_avis }} avis ) </h4>

 <ul id="tabs_result" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#my_results_produits" data-toggle="tab">Liste des produits</a></li>
        <li><a href="#my_results_avis" data-toggle="tab">Liste avis</a></li>
    </ul>
    <div id="my-tab-content_result" class="tab-content">
        <div class="tab-pane active" id="my_results_produits">
               <div>
       <h2>Critères de recherche</h2>
     {% if category_name!='' %}Catégorie : <span class="label label-success">{{ category_name }}</span>{% endif %}
     {% if sub_category_name!='' %}Sous catégorie : <span class="label label-success">{{ sub_category_name }}</span>{% endif %}
     {% if texte_nom_produit!='' %}<br/>Texte nom produit :<span class="label label-success">{{ texte_nom_produit }}</span>{% endif %}
   </div>
    <div>
    {{ form_start(form_filter, {'action': path('my_app_recherche_filtre'), 'method': 'GET'}) }}
         <div class="col-md-4">
             <div class="col-md-6">
                 {{ form_label(form_filter.presentation, "Présentation", {'label_attr': {'class': 'col-md-6 control-label'}}) }}
                 {{ form_errors(form_filter.presentation) }}
             </div>   
             <div class="col-md-6">
                {{ form_widget(form_filter.presentation, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-md-6">
                 {{ form_label(form_filter.texture, "Texture", {'label_attr': {'class': 'col-md-6 control-label'}}) }}
                 {{ form_errors(form_filter.texture) }}
             </div>   
             <div class="col-md-6">
                {{ form_widget(form_filter.texture, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-md-6">
                 {{ form_label(form_filter.penetration, "Pénétration", {'label_attr': {'class': 'col-md-6 control-label'}}) }}
                 {{ form_errors(form_filter.penetration) }}
             </div>   
             <div class="col-md-6">
                {{ form_widget(form_filter.penetration, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-md-6">
                 {{ form_label(form_filter.efficacite_long_terme, "Efficacité à long terme", {'label_attr': {'class': 'col-md-6 control-label'}}) }}
                 {{ form_errors(form_filter.efficacite_long_terme) }}
             </div>   
             <div class="col-md-6">
                {{ form_widget(form_filter.efficacite_long_terme, {'attr': {'class': 'form-control'}}) }}
             </div>    
         </div>
         <div class="col-md-4">
         </div>
         <div class="col-md-4">
         </div>   
         <input type="hidden" name="categoire" value="{{ app.request.get('app_homebundle_beaute_search')['categorie'] }}" />
         <input type="hidden" name="sub_categorie" value="{{ app.request.get('app_homebundle_beaute_search')['sub_categorie'] }}" />
         <input type="hidden" name="product_name" value="{{ app.request.get('app_homebundle_beaute_search')['product_name'] }}" />
         <input type="hidden" name="marque" value="{{ app.request.get('app_homebundle_beaute_search')['marque'] }}" />
    {{ form_rest(form_filter) }}
            <input type="button" value="Filtre" class="ajax_bt_filter_produit btn btn-primary">
            <input type="submit" class="btn btn-primary" value="filtrer" />
    </form>
    </div>
<div id="ajax_result">
<div class="content_result">  
    <h2>Liste des produits</h2>
<table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Marque</th>
                <th>Nom</th>
                <th>Nombre d'avis Total</th>
                <th>Nombre d'avis sans commentaire</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in listproducts %}
               <tr>
                   <td>{{ entity.marque }}</td>
                   <td>{{ entity.name }}</td>
                   <td>{{ entity.getAvis().count() }}</td>
                   <td>&nbsp;</td>
                   <td><a target="_blanc" href="{{ path('my_app_affiche_avis_produit', { 'id': entity.id }) }}">Consulter les avis</a></td>
               </tr>
              {% endfor %}     
            </tbody>
</table>   

  
</div>
    <div>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_critere.csv') }}" targuet="_blanc">CSV produits et critères</a>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_points_forts.csv') }}" targuet="_blanc">CSV produits et points forts</a>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_points_faibles.csv') }}" targuet="_blanc">CSV produits et points faibles</a>
   </div>
</div></h1>
        </div>
        <div class="tab-pane" id="my_results_avis">
            <h1>my_results_avis</h1>
        </div>
   </div>  
{% endblock %}

