<hmtl>
    <body>
 {% set size = listproducts | length %}
 {% set size_avis = avis | length %}               
 <ul id="tabs_result" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#my_results_produits" data-toggle="tab">Liste des produits ({{ size }})</a></li>
        <li><a href="#my_results_avis" data-toggle="tab">Liste avis ({{ size_avis }})</a></li>
    </ul>
    <div id="my-tab-content_result" class="tab-content">
        <div class="tab-pane active" id="my_results_produits">
       
 
<div id="ajax_result">
<div class="content_result">
    <h2>Liste des produits ({{ size }})</h2>
<table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Marque</th>
                <th>Nom</th>
                <th>Nombre d'avis Total</th>
                <th>Nombre d'avis sans commentaire</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in listproducts %}
               <tr>
                   <td>{{ entity.marque }}</td>
                   <td>{{ entity.name }}</td>
                   <td>{{ entity.getAvis().count() }}</td>
                   <td>{{ entity.get_Nb_Avis_Sans_Commentaires() }}</td>
                   <td><a target="_blanc" href="{{ path('my_app_affiche_avis_produit', { 'id': entity.id }) }}">Consulter les avis</a></td>
               </tr>
              {% endfor %}     
            </tbody>
</table>   

  
</div>
</div></h1>
        </div>            
        <div class="tab-pane" id="my_results_avis">
            <h2>Liste avis ({{ size_avis }})</h2>
            <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Produit</th>
                <th>Marque</th>
                <th>Catégorie</th>
                <th>Sous catégorie</th>
                <th>Prix</th>
                <th>Contenance</th>
                <th>Genre</th>
                <th>Age</th>
                <th>Points forts</th>
                <th>points faibles</th>
                <th>Commentaire</th>
              </tr>
            </thead>
            <tbody>
               {% for one_avis in avis %}     
                <tr>
                   <td>{{ one_avis.getProduct().name }}</td>
                   <td>{{ one_avis.getProduct().marque }}</td>
                   <td>{{ category_name }}</td>
                   <td>{{ sub_category_name }}</td>
                   <td>{{ one_avis.getProduct().prix }}</td>
                   <td>{{ one_avis.getProduct().getCont() }}</td>
                   <td>{{ one_avis.getGender() }}</td>
                   <td>{{ one_avis.getCritere() }}</td>
                   <td>{{ one_avis.getPointsForts() }}</td>
                   <td>{{ one_avis.getPointsFaibles() }}</td>
                   <td>{{ one_avis.comments }}</td>
                </tr>
               {% endfor %}      
            </tbody>
</table> 
        </div>
   </div>           
        </body>
</hmtl>        


