{% extends "::base.html.twig" %}
{% block body %}
{% set counter_avis = 0 %}
{% for entity in listproducts %}
  {% set counter_avis = entity.getAvis().count() + counter_avis %}
{% endfor %}   
<h4>RESULTAT DU RECHERCHE ({{ counter_avis }} avis ) </h4>
  <div>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_critere.csv') }}" targuet="_blanc">CSV produits et critères</a>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_points_forts.csv') }}" targuet="_blanc">CSV produits et points forts</a>
    <br><a href="http://{{ app.request.server.get('SERVER_NAME') }}/{{ asset('uploads/csv_points_faibles.csv') }}" targuet="_blanc">CSV produits et points faibles</a>
   </div>
   <div>
       <h2>Critères de recherche</h2>
     {% if category_name!='' %}Catégorie : <span class="label label-success">{{ category_name }}</span>{% endif %}
     {% if sub_category_name!='' %}Sous catégorie : <span class="label label-success">{{ sub_category_name }}</span>{% endif %}
     {% if texte_nom_produit!='' %}<br/>Texte nom produit :<span class="label label-success">{{ texte_nom_produit }}</span>{% endif %}
   </div>
    <div>
    {{ form_start(form_filter, {'action': path('my_app_recherche'), 'method': 'GET'}) }}
             {{ form_rest(form_filter) }}
    </form>
    </div>
<div class="content_result">  
    <h2>Liste des produits</h2>
<table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Marque</th>
                <th>Nom</th>
                <th>Nombre d'avis Total</th>
                <th>Nombre d'avis sans commentaire</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in listproducts %}
               <tr>
                   <td>{{ entity.marque }}</td>
                   <td>{{ entity.name }}</td>
                   <td>{{ entity.getAvis().count() }}</td>
                   <td>&nbsp;</td>
                   <td><a target="_blanc" href="{{ path('my_app_affiche_avis_produit', { 'id': entity.id }) }}">Consulter les avis</a></td>
               </tr>
              {% endfor %}     
            </tbody>
</table>   

  
</div>
{% endblock %}

